<div class="container">
  <table class="table">
    <thead>
      <td>{{lang.name}}</td>
      <td>{{lang.surname}}</td>
      <td>{{lang.numberOfDonations}}</td>
      <td></td>
    </thead>
    <tbody>
      <tr ng-repeat="donor in donors">
        <td>{{donor.userData.get('name')}}</td>
        <td>{{donor.userData.get('surname')}}</td>
        <td>{{donor.numberOfDonations}}</td>
        <td ng-click="onAddDonationClick()">{{lang.addDonation}}</td>
      </tr>
    </tbody>
  </table>
</div>
