<div class="container">
  <div class="donors">
    <h2>BROWSE DONORS</h2>

    <div ng-repeat="donor in donors" class="person-container">
      <div class="name">{{donor.userData.get('name')+' '+donor.userData.get('surname')}}</div>
      <div class="personal-data"><span>{{donor.userData.get('sex')}}</span><span>{{donor.userData.get('age') + ' ' + lang.years}}</span><span>{{donor.userData.get('weight') + ' kg'}}</span></div>
      <div class="donations"><span>{{donor.userData.get('bloodType')}}</span>{{donor.numberOfDonations + ' ' + lang.donations}}<span></span></div>
      <div class="achievement d{{donor.achievement}}-times"></div>
      <div>
        <a class="link" ng-click="onAddDonationClick()">{{lang.addDonation}}</a>
      </div>
    </div>
  </div>
<!--   <table class="table">
    <thead>
      <td>{{lang.name}}</td>
      <td>{{lang.surname}}</td>
      <td>{{lang.numberOfDonations}}</td>
      <td></td>
    </thead>
    <tbody>
      <tr ng-repeat="donor in donors">
        <td>{{donor.userData.get('name')}}</td>
        <td>{{donor.userData.get('surname')}}</td>
        <td>{{donor.numberOfDonations}}</td>
        <td ng-click="onAddDonationClick()">{{lang.addDonation}}</td>
      </tr>
    </tbody>
  </table> -->
</div>
