<div class="home">
  <div class="container">
    <div class="blood-levels-container">
      <div class="blood-levels-type">{{lang.national}}</div>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">0<span class="super">-</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">A<span class="super">-</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">B<span class="super">-</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">AB<span class="super">-</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">0<span class="super">+</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">A<span class="super">+</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">B<span class="super">+</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="frg">
                <div class="bck"></div>
              </div>
              <div class="type">AB<span class="super">+</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

