<div class="home">
  <div class="container">
    <div class="blood-levels-container">
      <div class="container-fluid">
        <h4>{{lang.national}}</h4>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck" style="height: {{type0height}}px"></div>
                <div class="type">0<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">A<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">B<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">AB<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">0<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">A<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">B<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">AB<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-btn-container text-right">
        <a class="btn btn-submit" ng-href="#/institution/info">{{lang.manageBloodSupply}}</a>
      </div>
    </div>

    <div class="blood-levels-container">
      <div class="container-fluid">
        <h4>{{lang.internal}}</h4>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">0<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">A<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">B<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">AB<span class="super">-</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">0<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">A<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">B<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="blood-level">
              <div class="block">
                <div class="frg"></div>
                <div class="bck"></div>
                <div class="type">AB<span class="super">+</span></div>
              </div>
              <div class="value">50 <span class="unit">L</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-btn-container text-right">
        <a class="btn btn-submit" ng-href="#/institution/info">{{lang.manageBloodSupply}}</a>
      </div>
    </div>
    </div>
  </div>
</div>
