<div class="login">
  <div class="bck-color red"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="ll-logo">
          <img src="http://placehold.it/150x150">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="navbar">
          <ul class="list-unstyled">
            <li>
              <a class="btn btn-primary">Button 1</a>
            </li>
            <li>
              <a class="btn btn-primary">Button 2</a>
            </li>
            <li>
              <a class="btn btn-primary">Button 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="login-container">
          <div ng-hide="loginClicked" class="login-button">
            <a ng-click="loginClicked=true" class="btn btn-primary btn-login">{{lang.login}}</a>
          </div>
          <div ng-show="loginClicked" class="login-form">
            <form accept-charset="utf-8">
              <input class="form-control" type="text" ng-model="loginUser.username" placeholder="{{lang.username}}">
              <input class="form-control" type="text" ng-model="loginUser.password" placeholder="{{lang.password}}">
              <input class="btn btn-submit" type="button" ng-click="onLoginClick()" value="{{lang.submit}}">
            </form>
          </div>
          <div class="login-button">
            <span>Or</span>
            <a ng-href="#/register" class="link signup-link">{{lang.signup}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
