$blood-red: #E74C3C;
$blood-dark-red: #C13F31;
$blood-light-red: #F8745C;
$dark-grey: #383B40;
$light-grey: #A7A9AC;

.blood-levels-container {
  margin: 20px 0;
  padding-bottom: 10px;

  .edit-btn-container {
    .btn {
      margin-right: 20px;
    }
  }

  h4 {
    font-size: 18px;
    margin: 20px 0;
  }
  .blood-level {
    position: relative;
    margin-bottom: 10px;

    .block {
      position: relative;
      width: 105px;
      height: 169px;
      margin: 0 auto;
    }
    .frg {
      position: absolute;
      top: 0;
      height: 169px;
      width: 105px;
      z-index: 1;
      background: image-url('/images/border.png') no-repeat center center;
      background-size: 105px 169px;
    }
    .bck {
      position: absolute;
      bottom: 40px;
      height: 0;
      left: 4px;
      width: 98px;
      max-height: 115px;
      background: $blood-red;
      transition: height 0.3s;
    }
    .type {
      position: absolute;
      top: 85px;
      left: 8px;
      text-align: center;
      width: 100%;
      z-index: 2;
      font-size: 16px;
      color: #333;
    }
    .value {
      text-align: center;
      position: relative;
      top: -31px;
      z-index: 3;
      .unit {

      }
    }
    .form {
      input {
        width: 100%;
      }
    }
  }
}


.institution-data-container {
  margin: 20px 0;
  padding: 20px;
}

.data-form {
  input {
    margin: 5px 0;
  }
}

.select2 {
  width: 300px;
}
