.super {
  vertical-align: super;
}

.blood-levels-container {
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 10px;

  .edit-btn-container {
    .btn {
      margin-right: 20px;
    }
  }

  .blood-levels-type {
    font-size: 18px;
    margin: 20px 0;
  }
  .blood-level {
    position: relative;
    margin-bottom: 10px;

    .block {
      position: relative;
      width: 80px;
      height: 120px;
      margin: 0 auto;
    }
    .frg {
      position: absolute;
      top: 0;
      height: 120px;
      width: 80px;
      background-color: #ccc;
      z-index: 1;
      opacity: 0.5;
    }
    .bck {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 80px;
      background: red;
    }
    .type {
      text-align: center;
    }
  }
}
