.login {
  position: relative;
  top: -70px;

  .ll-logo {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .navbar {
    text-align: center;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        a {
          margin: 5px 5px;
        }
      }
    }
  }
  .login-container {
    text-align: center;


    .login-form {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      margin: 0 30px;
      input {
        margin: 10px 0;
      }

      .login-submit {
        text-align: right;
        input {
          margin: 0;
        }
      }
    }
  }
}
