$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "login";

$blood-red: #EE4433;
$blood-dark-red: #BB2211;

//GLOBALS
.btn {
  transition: all 0.2s;
}

.input-clear {
  box-shadow: none;
  border-radius: 0px;
  &:focus {
    box-shadow: none;
  }
}
a {
  cursor: pointer;
}

.btn {
  &.btn-submit {
    background-color: $blood-red;
    color: #fff;
    &:hover {
      background-color: $blood-dark-red;
    }
  }
  &.btn-red {
    background-color: $blood-red;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: $blood-red;
    }
  }
  &.btn-dark-red {
    background-color: $blood-dark-red;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: $blood-dark-red;
    }
  }
}

span {
  &.error {
    color: #EE4433;
    text-align: left;
  }
}

.bck-color {
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  &.red {
    background-color: $blood-red;
  }
}

//HEADER

.header {
  height: 70px;
  padding: 20px;
  line-height: 24px;
  background-color: $blood-red;
  color: #fff;

  .app-name {
    //line-height: 70px;
    font-size: 24px;
    padding: 0 10px;
    margin: 0;
    display: inline;
  }

  .nav-pills {
    display: inline-block;

    li {
      a {
        padding: 0 15px;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: $blood-red;
        }
      }
    }
  }


  .login-info {
    text-align: right;
    a {
      color: #fff;
    }
  }
}
